# **Challenge TelecomX - Predicci贸n De Cancelaci贸n**
##  **Misi贸n**

La nueva misi贸n es desarrollar modelos predictivos capaces de prever qu茅 clientes tienen mayor probabilidad de cancelar sus servicios.  
La empresa TelecomX quiere anticiparse al problema de la cancelaci贸n, por lo que se pretende construir un pipeline robusto para esta etapa inicial de modelado.

##  **Objetivos del Desaf铆o**

- Preparar los datos para el modelado (tratamiento, codificaci贸n, normalizaci贸n).
- Realizar an谩lisis de correlaci贸n y selecci贸n de variables.
- Entrenar dos o m谩s modelos de clasificaci贸n.
- Evaluar el rendimiento de los modelos con m茅tricas.
- Interpretar los resultados, incluyendo la importancia de las variables.
- Crear una conclusi贸n estrat茅gica se帽alando los principales factores que influyen en la cancelaci贸n.

##  **Extracci贸n**

In [14]:
import pandas as pd
# Importando los datos
datos = pd.read_csv('DataBase/TelecomXData.csv')
datos.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.daily,account.Charges.Total
0,0002-ORFBO,0,Female,0,1,1,9,1,No,DSL,...,No,Yes,Yes,No,One year,1,Mailed check,65.6,2.186667,593.30
1,0003-MKNFE,0,Male,0,0,0,9,1,Yes,DSL,...,No,No,No,Yes,Month-to-month,0,Mailed check,59.9,1.996667,542.40
2,0004-TLHLJ,1,Male,0,0,0,4,1,No,Fiber optic,...,Yes,No,No,No,Month-to-month,1,Electronic check,73.9,2.463333,280.85
3,0011-IGKFF,1,Male,1,1,0,13,1,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,1,Electronic check,98.0,3.266667,1237.85
4,0013-EXCHZ,1,Female,1,1,0,3,1,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,1,Mailed check,83.9,2.796667,267.40

In [15]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7256 entries, 0 to 7255
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7256 non-null   object
 1   Churn                      7256 non-null   int64
 2   customer.gender            7256 non-null   object
 3   customer.SeniorCitizen     7256 non-null   int64
 4   customer.Partner           7256 non-null   int64
 5   customer.Dependents        7256 non-null   int64
 6   customer.tenure            7256 non-null   int64
 7   phone.PhoneService         7256 non-null   int64
 8   phone.MultipleLines        7256 non-null   object
 9   internet.InternetService   7256 non-null   object
 10  internet.OnlineSecurity    7256 non-null   object
 11  internet.OnlineBackup      7256 non-null   object
 12  internet.DeviceProtection  7256 non-null   object
 13  internet.TechSupport       7256 non-null   object
 14  internet.StreamingTV       7256 non-null   object
 15  internet.StreamingMovies   7256 non-null   object
 16  account.Contract           7256 non-null   object
 17  account.PaperlessBilling   7256 non-null   int64
 18  account.PaymentMethod      7256 non-null   object
 19  account.Charges.Monthly    7256 non-null   float64
 20  account.Charges.daily      7256 non-null   float64
 21  account.Charges.Total      7256 non-null   float64
dtypes: float64(3), int64(7), object(12)
memory usage: 1.2+ MB

## **Transformando los datos**

### Eliminaci贸n de Columnas Irrelevantes

In [16]:
datos = datos.drop(columns = 'customerID')
datos.head()

,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,internet.OnlineSecurity,...,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.daily,account.Charges.Total
0,0,Female,0,1,1,9,1,No,DSL,No,...,No,Yes,Yes,No,One year,1,Mailed check,65.6,2.186667,593.30
1,0,Male,0,0,0,9,1,Yes,DSL,No,...,No,No,No,Yes,Month-to-month,0,Mailed check,59.9,1.996667,542.40
2,1,Male,0,0,0,4,1,No,Fiber optic,No,...,Yes,No,No,No,Month-to-month,1,Electronic check,73.9,2.463333,280.85
3,1,Male,1,1,0,13,1,No,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,1,Electronic check,98.0,3.266667,1237.85
4,1,Female,1,1,0,3,1,No,Fiber optic,No,...,No,Yes,Yes,No,Month-to-month,1,Mailed check,83.9,2.796667,267.40